PORT = 8000
MONGODB_URI = mongodb+srv://lokeshpatidar7898:Lokesh1111@cluster0.v1aru.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = OTUCKcyqgZAAmobiivbkbskvbjragkuvcuizskbjcesiuadkznkSDJchbsjuibrgqibfkdsbfuibqwc
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = vffibrktjbgdsfviugtrbsuiublkfqwrenhwgyiluhjbverhikbvihkewbjgfoivukhwbeqlofiewrbg
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME = lokeshpatidar
CLOUDINARY_API_KEY = 124112337418354
CLOUDINARY_API_SECRET = djmJosxW5exchgpd7JDAae3cFEE